<!-- Main Content -->
<div class="container" ng-controller="MainController as vm">

    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center"><em>What is ViRT?</em></h3>
        <hr>
        Virt is an app that lets you find something to do when you're in a new neighborhood or you aren't sure what's going on at this moment.  You can search according to your preferences in taste, distance, and whether or not you're into paying a small cover or just want something free to see.
      </div>
      <hr class="style-one">
    </div>

    <div class="row">
      <div class="col-md-6">
          <h3 class="text-center"><em>The Business Owners</em></h3>
          <hr>
          <p>
            Small venues, clubs (heck, even restaurants!) can increase their attendance and crowds by creating their free <em>ViRT</em> accounts, posting a quick blurb about their unique event and it will appear in the search results for people nearby looking to check something cool out.
            <p><a class="btn btn-default" ui-sref="venueLogin()" role="button">Login</a></p>
            <p>Don't have an account yet?  <a class="btn btn-default" ui-sref="signup" role="button">Sign Up!</a></p>
      </div>
      <div class="col-md-6">
          <h3 class="text-center"><em>The Crowds</em></h3>
          <hr>
            Ever thought of wanting to see a band or go dancing but not sure what's happening or...where?  You bet we have.<p>Use <em>Google</em> to login and start searching for performances and events so you don't have to spend an hour searching online.</p>
            <p class="text-center"><a class="btn btn-default" ui-sref="userLogin" role="button">Login!</a></p>
      </div>
    </div>

</div>
