<div class="container cen-jus">
      <h3>Welcome, {{vm.userDS.user.displayName}}</h3>
      <img ng-src="{{vm.userDS.user.picture}}">


  <table id="local_virts" class="table table-striped" //* ng-something goes here *//>
    <thead>
      <tr>
        <th><h2 class="jumbotron text-center">Local Events</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="home in vm.local_virts">
        <td>{{vm.virt.venue}}</td>
        <td>{{vm.virt.admission}}</td>
        <td>{{vm.virt.text}}</td>
        <td>{{vm.virt.location}}</td>
      </tr>
    </tbody>
  </table>
</div>
